@model JabbadabbadoeBooking.Models.Space
<h1>@Model.Title</h1>
<p>@Model.Description</p>
@if (Model.Photos?.Any() == true) {
  <ul>
    @foreach (var p in Model.Photos) { <li><img src="@p.FilePath" style="max-width:200px"/></li> }
  </ul>
} else {
  <p><em>Geen foto's</em></p>
}
