@model JabbadabbadoeBooking.Models.Space
@{
    ViewData["Title"] = "Appartement wijzigen";
}
<h1 class="h3 mb-3">Appartement wijzigen</h1>

<form asp-action="Edit" method="post" enctype="multipart/form-data">
  <input type="hidden" asp-for="Id" />
  <partial name="_Form" model="Model" />
  <div class="mt-3">
    <a asp-action="Index" class="btn btn-outline-secondary">Terug</a>
    <button class="btn btn-primary" type="submit">Opslaan</button>
  </div>
</form>
